@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

body {
    font-family: Helvetica;
    margin: 0;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 22px;
}

table{
    table-layout: fixed;
    width:100%;
    max-width: 418px;
    margin:0;
}

input[type="text"]{
    width: 90%;
}

td:nth-child(2){
    width: 50%;
}

td:nth-child(1){
    width: 20%;
}

td:nth-child(3){
    width: 30%;
    padding-left: 5px;
    font-size: 14px;
}

.comment {
    color: gray;
}

div#wrapper {
    margin:0 auto;
    width:900px;
    background:#FFF;
}
div#mainContent {
    width:560px;
    padding:20px;
    float:left;
}
div#sideBar {
    width:230px;
    padding:20px;
    margin-left:30px;
    float:left;
}
.clear { 
    clear:both; 
}
div#sticker {
    padding:20px;
    margin:20px 0;
    background:#AAA;
    width:190px;
}

#outer-container {
    width: 100%; 
}

.stick {
    position:fixed;
    top:0px;
}

@media only screen and (max-width: 480px) { /* iPhone, Android rules here */
    #map-container {
        height: 100%;
        width: 100%;
    }
    #results-container{
        width: 100%;
    }
}

@media only screen and (min-width: 480px) { 
    #map-container {
        height: 100%;
        width: 60%;
        float: right;
    }

    #my-map-canvas{
        height: 100%; 
    }

    #outer-container{
        height: 1000px;
    }
    #results-container {
        float: left;
        width: 40%;
    }
}

.invisible{
    visibility: hidden;
}

#my-map-canvas {
    width: 100%; 
    max-height:400px;
    max-width:400px;
    border: 1px solid #ccccc8;

    /*Cross-browser support for refreshing maps graphics*/
    -moz-transform:translateZ(0px);
    -ms-transform:translateZ(0px);
    -o-transform:translateZ(0px);
}


.image_container {
    width: 23%;
    float: left;
    margin-right: 1%;
}

.desc_container {
    width: 75%;
    float: right;
    color: #555;
}

h3.rest_title{
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
    font-size: 20px;
    margin-top:0;
    margin-bottom: 5px;
    color: black;
}

.rest_category{
/*    color: gray;
*/    font-family: "Helvetica";
    font-size: 14px;
}

.rest_image{
    width: 100%;
}

.rest_rating_image{
    vertical-align: middle;

}

.rest_title a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3 {
    font-family: 'HelveticaNeue', sans-serif;
}


input {
    font-size: 18px;
}